<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/404icon-10.png">
    <link rel='stylesheet' href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <div class="container main-content">
        <h1>Uh oh...</h1>
        <img src="img/me.jpg" width="200">
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>