<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/iconMain-10.png">
    <link rel='stylesheet' href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="img/me.jpg" width="200">
    </div>

    {{>footer}}
</body>

</html>