<!doctype html>
<html>

<head>
    
    <link rel="icon" href="/img/iconMain-10.png">
    <link rel='stylesheet' href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""> </script>
    <script 
        type="text/javascript" src="/js/us-states.js">
    </script>

</head>

<body>

    {{>header}}

    <title> Lawrence Crosstown LRT </title>

    <div id="mapid">
    
    </div>
        
    {{>footer}}
    {{!-- pk.eyJ1Ijoic2FnYXJpczg4IiwiYSI6ImNrYzlhOThjZzA3eGUyeW95eTFwNWZkcjEifQ.Cfe4bXAcopqtohZuvhQ9XQ --}}

<script>
	var mymap = L.map('mapid').setView([37.8, -96], 4);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2FnYXJpczg4IiwiYSI6ImNrYzlhOThjZzA3eGUyeW95eTFwNWZkcjEifQ.Cfe4bXAcopqtohZuvhQ9XQ', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/light-v9',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

	var geojson = L.geoJson(statesData).addTo(mymap);

    function getColor(d) {
    return d > 12 ? '#b10026' :
           d > 10  ? '#e31a1c' :
           d > 8  ? '#fc4e2a' :
           d > 6  ? '#fd8d3c' :
           d > 4   ? '#feb24c' :
           d > 2   ? '#fed976' :
           d >= 1   ? '#ffeda0' :
           d >= 0   ? '#ffffff':
                      '#ffffff';
    }

    function style(feature) {
    return {
        fillColor: getColor(feature.properties.density),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
    }

    L.geoJson(statesData, {style: style}).addTo(mymap);
</script>

</body>

</html>
