<div id="footer">
    <div class="container">
        <div class="column">
            <h4>My Links</h4>
            <p>
                <a href="https://www.instagram.com/transit.nerd/">Instagram</a>
                <br>
                <a href="https://www.linkedin.com/in/henry-lin-756883184/">LinkedIn</a>
            </p>
        </div>
        <div class="column">
            <h4>My Story</h4>
            <p>My name is Henry Lin. I am a recent graduate of Architectural Design Bachelor's at the University of Toronto. I also majored in Visual Studies and have a loving interest in urban planning and transportation. This combination of interests
                allows me to become an urbanist with wide berth of aesthetics and efficiency.
            </p>
        </div>
    </div>
</div>